/Workshops/Partial 1/Lab8/ZooPrj/nbproject/private/
/Workshops/Partial 1/Lab8/Proyecto/nbproject/private/
/Workshops/Partial 1/Lab9Operators/ec.espe.edu.Lab9Operators/nbproject/private/
/Workshops/Partial 2/Lab10Files/ec.espe.edu.Lab9Operators/build/